body {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;

  max-width: 30vw;

  margin: auto;
  padding: 30px;

}

form > label {
  padding-top: 30px;
  padding-bottom: 8px;
}

form > button {
  margin: auto;
  margin-top: 50px;
  padding: 15px;

  max-width: 150px;

  font-size: 1rem;
}

table {
  min-width: 40vw;
  max-width: 80vw;
  margin: auto;
}

th {
  border-bottom: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 30px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.hidden {
  display: none;
}

.organizer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.organizer > div {
  margin: 10px;
  border-radius: 10px;
}
